<h2>Add a Reputable Shop to our List</h2>
  <form class="createBiz-form">

    <div class="form-group">
      <label for="shopName-create">Business Name:</label>
      <input class="form-control" type="text" id="shopName-create" />
    </div>
    <div class="form-group">
      <label for="address-create">Business address:</label>
      <input class="form-control" type="text" id="address-create" />
    </div>
    <div class="form-group">
      <label for="city-create">City:</label>
      <input class="form-control" type="text" id="city-create" />
    </div>
    <div class="form-group">
      <label for="state-create">State entered as the full name:</label>
      <input class="form-control" type="text" id="state-create" />
    </div>
    <div class="form-group">
      <label for="zip-create">Zipcode:</label>
      <input class="form-control" type="text" id="zip-create" />
    </div>
    <div class="form-group">
      <label for="phone-create">Phone Number:</label>
      <input class="form-control" type="text" id="phone-create" />
    </div>
    {{!-- <div class="form-group">
      <label for="comment-create">Comment:</label>
      <input class="form-control" type="text" id="comment-create" />
    </div> --}}
    <div class="form-group">
      <button class="btn btn-primary" type="submit">CREATE</button>
    </div>
</form>


<script src="/js/createBiz.js"></script>