<footer class="mt-auto text-color-light">
      <ul class="nav justify-content-center border-top pb-3 mb-3">
      <li class="nav-item"><a target="_blank" href="https://github.com/RPAPE3/Project-2" class="nav-link px-2 text-white">Our Team:</a></li>
      <li class="nav-item"><a target="_blank" href="https://github.com/BrandtDavidson" class="nav-link px-2 text-white">Brandt Davidson</a></li>
      <li class="nav-item"><a target="_blank" href="https://github.com/RPAPE3" class="nav-link px-2 text-white">Robby Pape</a></li>
      <li class="nav-item"><a target="_blank" href="https://github.com/jstoozy23" class="nav-link px-2 text-white">Jeff Stutzman</a></li>
      <li class="nav-item"><a target="_blank" href="https://github.com/bighamcyrus" class="nav-link px-2 text-white">Cyrus Bigham</a></li>
      
    </ul>
  </footer>