
<body>
  <div class="row">
    <div class="col-7">
      <div id="container"></div>
    </div>

    <div class="col-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"></h2>
        </div>
        <div class="panel-body">
          <table class="table table-dark shops">
            <thead>
              <tr>
                <th></th>
                <th>
                  Shop Name
                </th>
                <th>
                  # Comments
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
<script src="/js/mapView.js"/>
</body>
