

<div class="card container text-bg-dark" style="width: 18rem;">
  <div class="card-header">
    SHOP LIST
  </div>

  <div class="row">

  <div class="col">
    <ul class="list-group list-group-flush">
   {{!-- {{#each }}
      <li class="list-group-item">{{this}}</li>
    {{/each}} --}}
    <li class="list-group-item">Shop Name</li>
    </ul>
  </div>

   <div class="col">
    <ul class="list-group list-group-flush">
   {{!-- {{#each }}
      <li class="list-group-item">{{this}}</li>
    {{/each}} --}}
    <li class="list-group-item">City</li>
    </ul>
  </div>

  </div>

</div>