<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body>
  <header class="display-flex justify-space-between align-center p-3 text-bg-dark">
    <h1>
      Repair Shops
    </h1>
    <nav class="nav-buttons"> 

    {{#unless logged_in}}
    <button class="btn" id="login-create">login/create</button>
    {{/unless}}
      
    {{#if logged_in}}
      <button class="btn" id="logout">logout</button>
    {{/if}}
    </nav>
  
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  {{#unless logged_in}}
   <script src="/js/login.js"></script>
  {{/unless}}
</body>

</html>