<h2>Add a comment</h2>
<form class="createComment-form">

  <div class="form-group">
    <label for="shopName-create">Business Name:</label>
    <input class="form-control" type="text" id="shopName-create" />
  </div>
  <div class="form-group">
    <label for="shopComment-create">Comment:</label>
    <input class="form-control" type="text" id="shopComment-create" />
  </div>
  <div class="form-group">
      <button class="btn btn-primary" type="submit">CREATE</button>
    </div>
  </form>


<script src="/js/createComment.js"></script>