<div class="container">
  <div class="row">

    <div>
      <button class="btn btn-primary align-self-end" id="add-shop" type="submit">Add Shop</button>
    </div>

    <div class="col-9">
      {{> map-view }}
    </div>

    <div class="col-3">
      {{> right-side }}
    </div>
  
  </div>
</div>

 <script src="/js/test.js"></script>

