<div class="container justify-space-between-md">
<div class="row">

<div class="col-6 login-card">
<h2>Login</h2>

<form class=" card body m-1 form login-form">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
</div>

<div class=" col login-card">
  <h2> Create an Account </h2>

  <form class="card body m-1 form create-form">
     <div class="form-group">
      <label for="username-create">Username:</label>
      <input class="form-input" type="text" id="username-create"/>
    </div>
    <div class="form-group">
      <label for="email-create">Email:</label>
      <input class="form-input" type="text" id="email-create"/>
    </div>
    <div class="form-group">
      <label for="password-create">Password:</label>
    <input class="form-input" type="password" id="password-create"/>
    </div>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Create an Account</button>
  </div>
  </form>
</div>

</div>
</div>



<script src="/js/create.js"></script>
<script src="/js/login.js"></script>