<body>
    

        
<div  class="position-absolute top-0 start-50 translate-middle"><p>Shop Name</p></div>

            <div  class="position-absolute top-0 start-50 translate-middle">
                <label for="address" class="position-absolute top-0 start-50 translate-middle">Shop Address:  </label>
            </div>
            
            <div>
            <label for="CityName">City:</label>
            </div>
            <div>
            <label for="zip" >zip:</label>
            </div>
            <div>
            <label for="phone" >phone:</label>
            </div>
        </div>

        <div>
            <label for="Comments" >Comments and Reviews:</label>
            </div>

            <div>
        <button type="submit" class="offset-md-3 btn btn-primary">ADD A COMMENT</button>
            </div>

       
</body>
{{!-- NEEDS TO BE CONNECTEd TO SHOP CREATOR --}}
        {{!-- <script src="/js/create.js"></script> --}}

