
<body>
<div  class="position-absolute top-0 start-50 translate-middle"></div>

            <div  class="position-absolute top-0 start-50 translate-middle">
                <label for="address" class="position-absolute top-0 start-50 translate-middle"></label>
            </div>
            <div>
            <label for="CityName">{{ shop.shop_name}}</label>
            </div>
            <div>
            <label for="CityName">Shop Address: {{ shop.address }} </label>
            </div>
            <div>
            <label for="CityName">City: </label>
            </div>
            <div>
            <label for="zip" >zip:</label>
            </div>
            <div>
            <label for="phone" >phone:</label>
            </div>
        </div>

        <div>
            <label for="Comments" >Comments and Reviews: {{ comment.comment }}</label>
            </div>

            <div>
        <button type="submit" class="offset-md-3 btn btn-primary" id="add-comment">ADD A COMMENT</button>
            </div>

    <script src="/js/test2.js"></script>
       
</body>
{{!-- NEEDS TO BE CONNECTEd TO SHOP CREATOR --}}
        {{!-- <script src="/js/create.js"></script> --}}


